<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 적용 -->
    </settings>

<!--    <typeAliases>-->
<!--        <typeAlias type="com.example.demo.vo.BookVO" alias="book"/> &lt;!&ndash; DTO클래스 alias 등록 &ndash;&gt;-->
<!--    </typeAliases>-->

    <mappers>
        <!-- 매퍼 등록 --> <!-- 예시 :<mapper resource="mapper/.xml" />-->
    </mappers>
</configuration>